<h1>Listas de cursos disponibles</h1>
<!-- directiva ngFor : forma de angular para generar html DINAMICO , pueden ser ESTRUCTURALES o de atributos(modifica)  -->

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Curso</th>
            <th>Duración</th>
            <th>Precio</th>
            <th>Stock/cupos</th>
        </tr>
    </thead>
    <tbody>
        <!-- en base a una condicion agrego una clase css a un elemento ngClass sirve para manipular clases-->
        <!-- con las directivas generamos html de forma dinamica, es un template de html , no es html puro , los for y if no tienen logica pura son para cuestiones de presentacion y de estilo  -->
         <!-- track es un id  q ayuda a que angular sea mas eficiente -->
        @for (course of courses; track course.name){
        <tr [ngClass]="{'offer': course.offer}">
            <td><img [src]="course.image" [alt]="course.name"></td>
            <td>{{ course.name }}</td>
            <td>{{ course.duration }}</td>
            <!-- pipe currency , le pone el signo peso , puede configurarse la cantidad de decimales, etc ya que son funciones  a las que se les puede pasar parametros -->
            <td>{{ course.price | currency }} </td>
            @if(course.quota > 0){
            <td>{{course.quota}} </td>
            }
            @else{
            <td><span class="badge text-bg-warning">Sin cupos disponibles</span></td>
            }
        </tr>
        }@empty{
        <tr>
            <td colspan="4">No hay cursos para mostrar</td>
        </tr>
        }


    </tbody>
</table>