h1{
    color: green;
}

.offer{
    border: green 3px solid;
}

.offer td{
    background: green;
}

// codigo para sacar las flechitas que van para arriba y para abajo de los input type number 
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

